:root {
    --blue: rgb(43, 82, 128);
}

.front {
    background-color: var(--blue);

}

.front a {
    color: white !important;
}

.dropdown-menu a {
    color: black !important;
}

.anim {
    animation: up-down 1.5s linear infinite alternate;
}

@keyframes up-down {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(-30px);
    }
}

.gray {
    width: 100%;
    border-radius: 30px;
    height: 2px;
    background-color: lightgray;
    margin: auto;
    position: relative;

}

.blue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 4px;
    margin: auto;
    background-color: var(--bs-info);
    
}
.max-content{
    width: max-content;
    margin: auto;
}
.col-lg-3{
    transition: all 1s;
}
.card:hover{
    cursor: pointer;
    transform: translatey(-12px);
}
.card h4:hover{
    color: #4069b1;
}